.heading, .play, .set, .set2, .set3 {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  z-index: 1000;

}

.heading {
  position: relative;
  text-align: center;
  /*color: #FADD79;*/
  /*background-color: #242424;*/
  color: #74FAA2;
  font-weight: 100;
}

.play, .set, .set2, .set3 {
  position: absolute;
  right: 0;
  padding: 1rem;
  color: #242424;
  background: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  font-weight: light;
  border-radius: 5px;
  margin: 10px;
}

.play {
  top: 400px;
}
.set {
  top: 100px;
}
.set2 {
  top: 200px;
}
.set3 {
  top: 300px;
}
.play:hover, .set:hover {
  background-color: #74FAA2;
  color: #FFFFFF;
  border: none;
}
button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
::selection {
  color: #242424;
  background: #FFFFFF; /* WebKit/Blink Browsers */
}
